<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"></script>

</head>

<body>
    <h1>Log in</h1>
    <button><a href='http://localhost:8080/user/auth'>Login With Google</a></button>
    <div id="form">
        <label>
            <h3>userName</h3><input id="username" name="userName" type="text"><br>
        </label>
        <label>
            <h3>Password</h3><input id="password" name="userPassword" type="password">
        </label><br>
        <button id="button-submit" type="submit" onclick="">login</button>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"></script>
    <script>
        console.log('hello')
        let button = document.getElementById('button-submit')
        button.addEventListener('click', async() => {
            let userName = document.getElementById('username').value
            let userPassword = document.getElementById('password').value
            console.log('params ', userName, ' ', userPassword)
            let res = await axios.post('/user/login',{userName,userPassword})
            window.localStorage.setItem('accessToken',res.data.accessToken)
            window.localStorage.setItem('refreshToken',res.data.refreshToken)
            console.log('html ',window.localStorage.getItem('accessToken'))
            let accessToken = window.localStorage.getItem('accessToken')
            window.location.href = 'http://localhost:8080/user/createRoomPage'
        })
    </script>
</body>

</html>